*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bg-claro{
    background-color: white;
    color: black;
}
.bg-oscuro{
    background-color: #212121;
    color: white;
}
.title-info{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
h1{
    text-align: center;
}

table{
    margin: 10px;
    width: 80% !important;
   
}
thead{
    background-color:darkblue;
    color: white;
    border-bottom: solid 5px royalblue;
}
th,td{
    padding: 20px;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color:lightsteelblue;
    color: white;
}
.btn{
    margin: 20px;
}
main{
display: flex;
align-items: center;
justify-content: center;
}
aside{
    background-color: black;
    height: 100vh;
    width: 20%;

}
aside li{
    margin: 10px;
    cursor: pointer;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}