*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.bg-claro{
    background-color: white;
    color: black;
}
.bg-oscuro{
    background-color: #212121;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
    color: black;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    display:none;
    position: fixed;
    right: 0;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
    color: white;
}
.menu ul{
    display: flex;
    flex-direction: column;
}

.menu li{
    margin: 10px;
}
.menu a{
    color: white;
    cursor: pointer;
}
nav i{
    font-size: 25px;
}

#activar-menu{
    color: black;
    cursor: pointer;
}



.info-basic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.info-basic p{
    margin: 10px;
}