*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.bg-claro{
    background-color: white;
    color: black;
}
.bg-oscuro{
    background-color: #212121;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
    color: black;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav i{
    font-size: 25px;
}
nav img{
    height: 80px;
    width: 80px;
}

.info-basic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.info-basic p{
    margin: 10px;
}
main{
    display: flex;
}
aside{
    background-color: black;
    height: 90vh;
    width: 20%;
}
aside a{
    color: white;
   }

   aside li{
    margin: 10px;
    cursor: pointer;
   }